<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SDE | Customers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
    <!--===============================================================================================-->
    
    
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    
    <link rel="stylesheet" type="text/css" href="css/util.css">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="Addcust_files/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="Addcust_files/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="Addcust_files/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="Addcust_files/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="Addcust_files/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="Addcust_files/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="Addcust_files/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="Addcust_files/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- Theme style --> 
    <link rel="stylesheet" href="Addcust_files/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    
    <style>
        .form-control1 {
            display: block;
            width: 100%;
            height: calc(4.5rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #ffffff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

    </style>
    
</head>

<body class="hold-transition sidebar-mini animsition">
    <?php
    $cookie_name = "jwt_token";
	
	if(isset($_COOKIE[$cookie_name])) { 
		echo "Cookie named '" . $cookie_name . "' is set!";
		$jwt_token = $_COOKIE[$cookie_name]; 
	} 
	else{
		header("Location: ../../index.html");
		exit();
	}		
	 
    $myObj = (object)array();
    $myObj->jwt = $jwt_token;
    $myJSON = json_encode($myObj);
    
    $ch = curl_init();
    
    curl_setopt($ch, CURLOPT_URL,            "http://localhost/SMS_WebApp/api/employee/validate_token.php" );
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1 );
    curl_setopt($ch, CURLOPT_POST,           1 );
    curl_setopt($ch, CURLOPT_POSTFIELDS,     $myJSON ); 
    curl_setopt($ch, CURLOPT_HTTPHEADER,     array('Content-Type: text/plain')); 
    
    $result=curl_exec ($ch);
    $data = json_decode($result);
    $userid = $data->data->userid;
    $firstname = $data->data->firstname;
    $lastname = $data->data->lastname;
    
    $complaint_id = $_GET['complaint_id'];
	echo($complaint_id);
	$myObj = (object)array();
	$myObj->complaint_id = $complaint_id;
	$myObj->operation = "R";
	$myJSON = json_encode($myObj);
	
	$ch = curl_init();
	curl_setopt($ch, CURLOPT_URL,            "http://localhost/SMS_WebApp/api/complaint/RD_complaint.php" );
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1 );
	curl_setopt($ch, CURLOPT_POST,           1 );
	curl_setopt($ch, CURLOPT_POSTFIELDS,     $myJSON ); 
	curl_setopt($ch, CURLOPT_HTTPHEADER,     array('Content-Type: text/plain')); 
	$result1=curl_exec ($ch);
	$result1=curl_exec ($ch);
	$data_complaint = json_decode($result1);
	
    $customer_id = $data_complaint->customer_id;
    $amc_id = $data_complaint->amc_id;
    $date = $data_complaint->date;
    $complaint_type_id = $data_complaint->complaint_type_id
    $complaint_status = $data_complaint->status;
    $defect_observed=$data_complaint->defect_observed;
    $action_taken=$data_complaint->action_taken;
    $parts_replaced=$data_complaint->parts_replaced;
    $remarks=$data_complaint->remarks;
    $line_voltage=$data_complaint->line_voltage;
    $grill_temp=$data_complaint->grill_temp;
    $current=$data_complaint->current;
    $room_temp=$data_complaint->room_temp;
    $time_from=$data_complaint->time_from;
    $time_to=$data_complaint->time_to;
    $mechanic_remarks=$data_complaint->mechanic_remarks;
    $mechanic_name=$data_complaint->mechanic_name;
    $customer_remarks=$data_complaint->customer_remarks;
       
    
    
    ?>
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="wrap_header">
                <!-- Logo -->
                <a href="index.html" class="logo">
                    <img src="images/icons/logo.jpeg" alt="IMG-LOGO">
                </a>
                
                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="../AMC/index.html">AMC</a>
                            </li>
                            <li>
                                <a href="../Customer/index.html">Customer</a>
                            </li>
                            <li>
                                <a href="../Complaint/index.html">Complaint</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <!-- Header Icon -->
                <div class="header-icons">
                    <a href="../todo/index.html" class="header-wrapicon1 dis-block">
                        <img src="images/icons/todo.jpg" class="header-icon1" alt="ICON">
                    </a>
                    
                    <span class="linedivide1"></span>
                    
                    <div class="header-wrapicon2">
                        <img src="images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <ul class="header-cart-wrapitem">
                                <li class="header-cart-item">
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Userid : <?php echo($userid); ?>
                                        </a>
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Name : <?php echo($firstname." ".$lastname); ?>
                                        </a>
                                    </div>
                                </li>
                                
                                
                            </ul>
                            
                            <div class="header-cart-buttons">
                                <!-- Button -->
                                <a href="../Logout/logout.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Logout
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br><br>
    <div id="response"></div>
    
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <form id="add_customer_form" method="POST">
                        <div class="card-header">
                            <h3 class="card-title">View Complaint</h3>
                            <input type="submit" value="Add" class="btn btn-primary" style="float: right;">
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="complaint">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="billing_name">Billing Name</label>
                                        <input type="text" class="form-control" style="width: 100%;" required="required" id="billing_name" name="billing_name" placeholder="Enter Billing Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="fromdate">Date</label>
                                        <input type="date" class="form-control" style="width: 70%;" id="fromdate" placeholder="Email" name="from_date">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="billing_name">AMC ID</label>
                                        <input type="text" class="form-control" style="width: 50%;" id="billing_name" name="billing_name" placeholder="Enter AMC-ID">
                                    </div>
                                    <div class="form-group">
                                        <label for="amctype">Complaint Type</label>
                                        <select name="amc_type" id="amctype" class="form-control" style="width: 85%;">
                                            <option>ICE FORMATION</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fromdate">Status</label>
                                        <input type="text" class="form-control" style="width:25%;" id="fromdate" value="OPEN" name="from_date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card-body" id="complaintreport" style="border-top-style: groove; border-width: 2px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fromdate">Assigned to Mechanic</label>
                                        <input type="text" class="form-control" style="width:40%;" id="fromdate" value="OPEN" name="from_date">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fromdate">Time From</label>
                                        <input type="datetime-local" class="form-control" style="width:80%;" id="fromdate" value="OPEN" name="from_date">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fromdate">Time To</label>
                                        <input type="datetime-local" class="form-control" style="width:80%;" id="fromdate" value="OPEN" name="from_date">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="fromdate">Line Voltage</label>
                                                <input type="number" class="form-control" style="width:45%;" id="fromdate" value="OPEN" name="from_date">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="fromdate">Grill Temperature</label>
                                                <input type="number" class="form-control" style="width:45%;" id="fromdate" value="OPEN" name="from_date">
                                            </div>        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="fromdate">Current</label>
                                                <input type="number" class="form-control" style="width:45%;" id="fromdate" value="OPEN" name="from_date">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="fromdate">Room Temperature</label>
                                                <input type="number" class="form-control" style="width:45%;" id="fromdate" value="OPEN" name="from_date">
                                            </div>        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">                                    
                                    <div class="form-group">
                                        <label for="fromdate">Defect Observed</label>
                                        <textarea class="form-control" cols="30" rows="3" style="width:100%;" id="fromdate" value="OPEN" name="from_date"></textarea>
                                    </div>                                    
                                    <div class="form-group">
                                        <label for="fromdate">Remarks</label>
                                        <textarea class="form-control" cols="30" rows="3" style="width:100%;" id="fromdate" value="OPEN" name="from_date"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">                 
                                    <div class="form-group">
                                        <label for="fromdate">Action Taken</label>
                                        <textarea class="form-control" cols="30" rows="3" style="width:100%;" id="fromdate" value="OPEN" name="from_date"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fromdate">Part Replaced</label>
                                        <textarea class="form-control" cols="30" rows="3" style="width:100%;" id="fromdate" value="OPEN" name="from_date"></textarea>
                                    </div>                                    
                                    <div class="form-group">
                                        <label for="fromdate">Customer Remarks</label>
                                        <textarea class="form-control" cols="30" rows="3" style="width:100%;" id="fromdate" value="OPEN" name="from_date"></textarea>
                                    </div>
                                </div>
                            </div>    
                        </div>

                    </form>               
                </div>  
            </div>    
        </section>
    </div>
                <!-- ./wrapper -->
                
                <!-- jQuery -->
                
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                
                <script>
                    $(document).ready(function(){
                        console.log("READY");
                        $("#add_customer_form").submit(function(){
                            console.log("INSIDE");
                            var add_customer_form=$(this);
                            var form_data=JSON.stringify(add_customer_form.serializeObject());
                            // submit form data to api
                            $.ajax({
                                url: "http://localhost/SMS_WebApp/api/customer/create_customer.php",
                                type : "POST",
                                contentType : 'application/json',
                                data : form_data,
                                success : function(result){
                                    $('#response').html("<div class='alert alert-success' style='postion:absolute; bottom:0px;'> Customer Added Successfully</div>");
                                    add_customer_form.find('input').val('');
                                },
                                error: function(xhr, status, error){
                                    //		    	alert(error);
                                    // on error, tell the user login has failed & empty the input boxes
                                }
                            });
                            return false;
                        });
                        
                        
                        $.fn.serializeObject = function(){
                            
                            var o = {};
                            var a = this.serializeArray();
                            $.each(a, function() {
                                if (o[this.name] !== undefined) {
                                    if (!o[this.name].push) {
                                        o[this.name] = [o[this.name]];
                                    }
                                    o[this.name].push(this.value || '');
                                } else {
                                    o[this.name] = this.value || '';
                                }
                            });
                            return o;
                        };
                        
                        
                        
                        
                        
                    });
                </script>
                
                <script src="Addcust_files/plugins/jquery/jquery.min.js"></script>
                <!-- Bootstrap 4 -->
                <script src="Addcust_files/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                <!-- Select2 -->
                <script src="Addcust_files/plugins/select2/js/select2.full.min.js"></script>
                <!-- Bootstrap4 Duallistbox -->
                <script src="Addcust_files/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
                <!-- InputMask -->
                <script src="Addcust_files/plugins/moment/moment.min.js"></script>
                <script src="Addcust_files/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
                <!-- date-range-picker -->
                <script src="Addcust_files/plugins/daterangepicker/daterangepicker.js"></script>
                <!-- bootstrap color picker -->
                <script src="Addcust_files/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
                <!-- Tempusdominus Bootstrap 4 -->
                <script src="Addcust_files/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
                <!-- Bootstrap Switch -->
                <script src="Addcust_files/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
                <!-- AdminLTE App -->
                <script src="Addcust_files/dist/js/adminlte.min.js"></script>
                <!-- AdminLTE for demo purposes -->
                <script src="Addcust_files/dist/js/demo.js"></script>
                <!-- Page script -->
                <!--===============================================================================================-->
                <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
                <!--===============================================================================================-->
                <script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
                <!--===============================================================================================-->
                <script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
                <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
                <!--===============================================================================================-->
                <script type="text/javascript" src="vendor/select2/select2.min.js"></script>
                <script type="text/javascript">
                    $(".selection-1").select2({
                        minimumResultsForSearch: 20,
                        dropdownParent: $('#dropDownSelect1')
                    });
                    
                    $(".selection-2").select2({
                        minimumResultsForSearch: 20,
                        dropdownParent: $('#dropDownSelect2')
                    });
                </script>
                <!--===============================================================================================-->
                <script type="text/javascript" src="vendor/daterangepicker/moment.min.js"></script>
                <script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
                <!--===============================================================================================-->
                <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
                <script type="text/javascript" src="js/slick-custom.js"></script>
                <!--===============================================================================================-->
                <script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>
                <script type="text/javascript">
                    $('.block2-btn-addcart').each(function(){
                        var nameProduct = $(this).parent().parent().parent().find('.block2-name').php();
                        $(this).on('click', function(){
                            swal(nameProduct, "is added to cart !", "success");
                        });
                    });
                    
                    $('.block2-btn-addwishlist').each(function(){
                        var nameProduct = $(this).parent().parent().parent().find('.block2-name').php();
                        $(this).on('click', function(){
                            swal(nameProduct, "is added to wishlist !", "success");
                        });
                    });
                </script>
                
                
                <!--===============================================================================================-->
                <script src="js/main.js"></script>
                
                
                
            </body>
            </html>
            