<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<?php

$cookie_name = "jwt_token";
if(isset($_COOKIE[$cookie_name])) { 
	setcookie($cookie_name, $_COOKIE[$cookie_name] , time() - 3600, "/"); 
}
?>
<div class="lds-ellipsis centered"><div></div><div></div><div></div><div></div></div>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<div style="text-align: center;">   Logging out ... </div>
<?php header("Refresh: 2;url=../../index.html");
?>
</body>

</html>