<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SDE | Customers</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
	<!--===============================================================================================-->


	<link rel="stylesheet" type="text/css" href="css/custom.css">

	<link rel="stylesheet" type="text/css" href="css/util.css">

	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="Addcust_files/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- daterange picker -->
	<link rel="stylesheet" href="Addcust_files/plugins/daterangepicker/daterangepicker.css">
	<!-- iCheck for checkboxes and radio inputs -->
	<link rel="stylesheet" href="Addcust_files/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- Bootstrap Color Picker -->
	<link rel="stylesheet" href="Addcust_files/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
	<!-- Tempusdominus Bbootstrap 4 -->
	<link rel="stylesheet" href="Addcust_files/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
	<!-- Select2 -->
	<link rel="stylesheet" href="Addcust_files/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="Addcust_files/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
	<!-- Bootstrap4 Duallistbox -->
	<link rel="stylesheet" href="Addcust_files/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="Addcust_files/dist/css/adminlte.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

	<style>
		.form-control1 {
			display: block;
			width: 100%;
			height: calc(4.5rem + 2px);
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			background-color: #ffffff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
			box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}
		.form-control2 {
			display: inline-block;
			width: 100%;
			height: calc(2.5rem + 2px);
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			background-color: #ffffff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
			box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}

		.tab {
			position:relative;
			left:20px; 
		}

	</style>

</head>

<body class="hold-transition sidebar-mini animsition">

	<br><br>

	<div id="response"></div>
	<div class="wrapper">
		<!-- Main content -->
	<div class="row">
		<input id="product-submit-1" value="Update" class="btn btn-primary" style="float: right;"  onclick="submitForms()">
	</div>
		<section class="products">
			<div class="product-form-1">
				<div class="card card-default">
					<form id="product-form-1" method="POST">
						<div class="card-header">
							<h3 class="card-title">Product-1</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="productid">Model Id</label>
										<input type="text" class="form-control" style="width: 50%;" id="product-id-1" name="product-id-1" readOnly="readOnly" value="$product_id">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
							 			<br><t>
											<label for="productquantity-1">Quantity x:</label>
											<input type="number" class="form-control2" style="width: 15%;" id="product-quantity-1" name="product-quantity-1" min="1">
										</div>
									</div>
									<div class="col-md-2">		            	
										<br>
										<div>
											<input id="product-submit-1" type="submit" value="Update" class="btn btn-primary" style="float: right;">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="product-company-1" class="tab">   Company</label>
													<input type="text" class="form-control" name="product-company-1" style="width: 70%;" id="product-company-1">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="product-type-1" class="tab">    Type</label>
													<input type="text" class="form-control" name="product-type-1" style="width: 50%;" id="product-type-1">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="product-capacity-1" class="tab">   Capacity</label>
													<input type="number" class="form-control" name="product-capacity-1" style="width: 70%;" id="product-capacity-1" step="0.1" min="0">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="product-rating-1" class="tab">    Rating</label>
													<input type="number" class="form-control" name="product-rating-1" style="width: 30%;" id="product-rating-1" step="0.5" min="0" max="5" >
												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							</form>
						</div>
					</div>
			</section>



			<script>
				submitForms = function(){
 			  	document.getElementById("product-form-1").submit();
    			document.getElementById("form2").submit();
				}

			</script>





			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script>
				$(document).ready(function(){
					console.log("READY");
					$("#update_customer_form").submit(function(){
						console.log("INSIDE");
						var update_customer_form=$(this);
						var form_data=JSON.stringify(update_customer_form.serializeObject());
				    // submit form data to api
				    alert(form_data);
				    $.ajax({
				    	url: "http://localhost/SMS_WebApp/api/customer/update_customer.php",
				    	type : "POST",
				    	contentType : 'application/json',
				    	data : form_data,

				    	success : function(result){
				    		$('#response').html("<div class='alert alert-success' style='postion:absolute; bottom:0px;'> Customer Updated Successfully</div>");
						    //add_customer_form.find('input').val('');
						  },
						  error: function(xhr, status, error){
						  	alert(error);
						    // on error, tell the user login has failed & empty the input boxes
						  }
						});
				    return false;
				  });


					$.fn.serializeObject = function(){

						var o = {};
						var a = this.serializeArray();
						$.each(a, function() {
							if (o[this.name] !== undefined) {
								if (!o[this.name].push) {
									o[this.name] = [o[this.name]];
								}
								o[this.name].push(this.value || '');
							} else {
								o[this.name] = this.value || '';
							}
						});
						return o;
					};

				});
			</script>


			<script type="text/javascript">
				document.getElementById("myNumber").stepUp();
			</script>

			<script src="Addcust_files/plugins/jquery/jquery.min.js"></script>
			<!-- Bootstrap 4 -->
			<script src="Addcust_files/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
			<!-- Select2 -->
			<script src="Addcust_files/plugins/select2/js/select2.full.min.js"></script>
			<!-- Bootstrap4 Duallistbox -->
			<script src="Addcust_files/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
			<!-- InputMask -->
			<script src="Addcust_files/plugins/moment/moment.min.js"></script>
			<script src="Addcust_files/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
			<!-- date-range-picker -->
			<script src="Addcust_files/plugins/daterangepicker/daterangepicker.js"></script>
			<!-- bootstrap color picker -->
			<script src="Addcust_files/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
			<!-- Tempusdominus Bootstrap 4 -->
			<script src="Addcust_files/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
			<!-- Bootstrap Switch -->
			<script src="Addcust_files/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
			<!-- AdminLTE App -->
			<script src="Addcust_files/dist/js/adminlte.min.js"></script>
			<!-- AdminLTE for demo purposes -->
			<script src="Addcust_files/dist/js/demo.js"></script>
			<!-- Page script -->
			<script>
				$(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
    	theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
    	format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
    	timePicker: true,
    	timePickerIncrement: 30,
    	locale: {
    		format: 'MM/DD/YYYY hh:mm A'
    	}
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
    {
    	ranges   : {
    		'Today'       : [moment(), moment()],
    		'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    		'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
    		'Last 30 Days': [moment().subtract(29, 'days'), moment()],
    		'This Month'  : [moment().startOf('month'), moment().endOf('month')],
    		'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    	},
    	startDate: moment().subtract(29, 'days'),
    	endDate  : moment()
    },
    function (start, end) {
    	$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
    }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
    	format: 'LT'
    })
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
    	$('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
    	$(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

<!--===============================================================================================-->
<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<script type="text/javascript">
	$(".selection-1").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});

	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect2')
	});
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
	$('.block2-btn-addcart').each(function(){
		var nameProduct = $(this).parent().parent().parent().find('.block2-name').php();
		$(this).on('click', function(){
			swal(nameProduct, "is added to cart !", "success");
		});
	});

	$('.block2-btn-addwishlist').each(function(){
		var nameProduct = $(this).parent().parent().parent().find('.block2-name').php();
		$(this).on('click', function(){
			swal(nameProduct, "is added to wishlist !", "success");
		});
	});
</script>

<!--===============================================================================================-->
<script type="text/javascript" src="vendor/noui/nouislider.min.js"></script>
<script type="text/javascript">
		/*[ No ui ]
		===========================================================*/
		var filterBar = document.getElementById('filter-bar');

		noUiSlider.create(filterBar, {
			start: [ 50, 200 ],
			connect: true,
			range: {
				'min': 50,
				'max': 200
			}
		});

		var skipValues = [
		document.getElementById('value-lower'),
		document.getElementById('value-upper')
		];

		filterBar.noUiSlider.on('update', function( values, handle ) {
			skipValues[handle].innerHTML = Math.round(values[handle]) ;
		});
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
